@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}



@keyframes spin-dot {
  0%   { transform: rotate(0deg) translateX(110%) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(110%) rotate(-360deg); }
}

.animate-spin-dot {
  top: 50%;
  left: 50%;
  transform-origin: center;
  animation: spin-dot 2s linear infinite;
}
